body{
    margin: 0%;
    padding: 0%;
}
#nav{
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
#navlinks a,button{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #0f1123;
    padding: 10px;
} 
#logo a{
    text-decoration: none;
    color: #0f1123;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}              
#navlinks {
    display: flex;
    align-items: center;
    justify-content: space-around;
}                                        
#loginbtn{
    display: flex;
    align-items: center;
    height: 5vh;  
}